# Enable Rewrite Engine
RewriteEngine On
RewriteBase /domain/

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

# Rewrite for erstekategorie.php with additional parameter
RewriteRule ^erstekategorie/([^/]+)/?$ erstekategorie.php?urlparams=$1 [L,QSA]
